@import '../colors';

.title {
  font-size: 20px;
  color: $black-github;
  font-weight: 600;
  float: left;
}

i {
  color: $smallname-github;
}

mat-panel-title {
  padding-top: 15px;
}

mat-panel-description {
  padding-top: 20px;
}
