.navbar {
  mat-icon {
    color: white;
    cursor: pointer;
  }

  .mat-form-field {
    padding: 0;
  }

  .search-group {
    display: flex;
    flex-direction: row;
    align-items: center;

    input {
      width: 155px;
      height: 30px;
      font-size: 14px;
      line-height: 31px;
      margin-right: 5%;
    }
  }
}
