<div class="container">
  <mat-toolbar>
    <button mat-button color="primary" [matMenuTriggerFor]="branches">
      Branches
    </button>
    <mat-menu #branches="matMenu">
      <button mat-menu-item>master</button>
      <button mat-menu-item>develop</button>
    </mat-menu>
    <div class="author-input">
      <form [formGroup]="formAuthor" (ngSubmit)="searchAuthor()">
        <mat-form-field>
          <input
            matInput
            placeholder="author"
            color="primary"
            formControlName="authorInput"
            [(ngModel)]="value"
          />
          <button
            mat-button
            *ngIf="value"
            matSuffix
            mat-icon-button
            aria-label="Pesquisar"
            type="submit"
          >
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
    <!-- /.author-input -->
  </mat-toolbar>
  <div>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p class="title">add organization layout</p>
          </mat-panel-title>
          <mat-panel-description>
            24/12/2018
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p class="author">Author: <i>lsnogueira</i></p>
        <p class="hash">Hash: <i>abcde235HoJKXasdf124</i></p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <mat-paginator [length]="100" [pageSize]="30"> </mat-paginator>
</div>
<!-- /.container -->