<div class="container">
  <div>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p class="title">add organization layout</p>
          </mat-panel-title>
          <mat-panel-description>
            24/12/2018
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p class="author">Author: <i>lsnogueira</i></p>
        <p class="hash">Hash: <i>abcde235HoJKXasdf124</i></p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
