<app-top-nav></app-top-nav>
<div class="container">
  <div class="row">
    <div class="col-lg-2 org-information">
      <div class="avatar">
        <a href="https://github.com/lsnogueira" target="_blank">
          <img
            src="https://avatars2.githubusercontent.com/u/34035319?v=4"
            width="140"
            height="140"
            alt="lsnogueira"
          />
        </a>
      </div>
      <!-- /.avatar -->
    </div>

    <div class="col-lg-10">
      <h2>
        Lucas Nogueira
        <span class="smallname">
          (@<a href="https://github.com/lsnogueira" target="_blank"
            >lsnogueira</a
          >)
        </span>
      </h2>
      <p>Repos: 16</p>
    </div>
    <div class="col-12 mb-4">
      <h3>Repos List:</h3>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <app-repository></app-repository>
  </div>
  <div class="general-loading"></div>
</div>
<!-- /.container -->