@import 'assets/scss/default';
@import 'assets/scss/colors';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $gray-background !important;
}
